   
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
@font-face {
  font-family: Silkscreen;
  src: url('./Fonts/silkscreen/slkscr.ttf'), url('./Fonts/silkscreen/slkscrb.ttf'),
  url('./Fonts/silkscreen/slkscre.ttf'), url('./Fonts/silkscreen/slkscreb.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
}

body {
  font-family: Fira Code;
  background-color: #2E132C;
  color: #fff;
}

a {
  text-decoration: none;
}

.App {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.dev-united-app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front-page-container {
  display: flex;
  justify-content: space-between;
}

.logo-container, .login-container {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container_info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container-welcome_info {
  max-width: 60%;
}

.login-title {
  font-family: Silkscreen;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.333333px;
  }

.login-subtitle {
  margin: 30px 0px 40px 0px;
  font-family: Fira Code;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.333333px;
}

.login-google {
  cursor: pointer;
  width: 100%;
}

.login-footer {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.login-copyright {
  color: #60265B;
}

.login-version-app {
  color: #F50D5A;
}

.login-btn {
  height: 30px;
  margin-bottom: 20px;
  font-size: .7rem;
  font-weight: bold;
  padding: 5px;
}

.login-margin {
  margin: 20px 0px;
}

.login-user-name {
  color: #F50D5A;
}

.login-input-name {
  background: #150714;
  height: 67px;
  width: 425px;
  font-family: Fira Code;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  letter-spacing: -0.333333px;
  color: #914D8B;
  outline: none;
  border: none;
  padding:15px
}

.login-input-name::placeholder {
  color: #914D8B;
}

.login-text-color {
  margin-left: 18px;
}

.login-btn-continue {
  background: #00DA76;
  height: 67px;
  width: 425px;
  border: none;
  cursor: pointer;
  font-family: Silkscreen;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.333333px;
  color: #FFFFFF;
}

.App-form-container {
  width: 100%;
  background: #150714;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #60265B;
}

.form-container {
  margin-top: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  display: flex;
  justify-content: space-between;
}

.profile-pic-tweet {
  border-radius: 50%;
  width: 56px;
  height: 56px;
}

.autor-button{
  width: 100%;
  padding: 0px 0px 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.max-char {
  color: #F50D5A;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: right;
  letter-spacing: -0.333333px;
  margin-bottom: 5px;
}

.tweets-app {
  margin-top: 30px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tweet {
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: #2E132C;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 0.2px 0.9px -3px rgba(0, 0, 0, 0.022),
    0 0.5px 2.3px -3px rgba(0, 0, 0, 0.031),
    0 1.1px 4.6px -3px rgba(0, 0, 0, 0.039),
    0 2.2px 9.5px -3px rgba(0, 0, 0, 0.048), 0 6px 26px -3px rgba(0, 0, 0, 0.07);
}

.tweet-text {
  margin-left: 15px;
  background: #2F112D;
  color: #914D8B;
  width: 500px;
  height: 113px;
  padding: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.333333px;
  resize: none;
  border: none;
  border-bottom: 2px solid rgb(47, 255, 57);
  outline: none;
}

.tweet-container{
  margin-top: 20px;
  width: 60%;
  padding: 0px 5px;
  display: flex;
  border-bottom: 2px solid #60265B;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-data {
  display: flex;
}

.tweet-author {
  padding: 3px;
  font-family: Silkscreen;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: -0.333333px;
}

.tweet-message {
  margin: 10px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.333333px;
}

.send-tweet {
  cursor: pointer;
  background: #2F112D;
  border: none;
  color: #150714;
  width: 102px;
  height: 35px;
  font-family: Silkscreen;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.333333px;
}

.item-form{
  width: 70%;
  height: 25px;
  margin: 0px 1px;
  padding: 3px;
}

.font-style-tweet {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.333333px;
}

.buttons-tweets-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete {
  border-radius: 5px;
  height: 25px;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
  background-color: red;
  display: flex;
  align-items: center;
}

.delete-icon {
  cursor: pointer;
  width: 25px;
}

.likes-container {
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.like-icon {
  cursor: pointer;
  width: 15px;
}

.like-count {
  margin-left: 5px;
  font-family: Fira Code;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.333333px;
  color: #F50D5A;
}

.user-profile {
  width: 100%;
  max-width: 570px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}

.user-profile .user-profile-pic {
  border-radius: 50%;
  margin-right: 10px;
  width: 33px;
}

.user-profile-back {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-profile-name {
  font-family: Silkscreen;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.333333px;
  color: #fff;
}

.user-profile-dashboard-photo {
  width: 135px;
  border-radius: 50%;
  /* outline: 5px solid yellow; */
}

.user-profile-dashboard-name {
  margin: 20px 0px 25px 0px;
  font-family: Silkscreen;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.333333px;
  color: #150714;
  background: yellow;
  padding: 2px 5px;
}

.user-profile-dashboard-options {
  width: 63%;
  display: flex;
  justify-content: center;
}

.user-profile-options-style {
  border: none;
  color: #60265B;
  background: #150714;
  cursor: pointer;
  width: 300px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Silkscreen;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.333333px;
}

.dummy-style {
  background: #60265B;
  color: #150714;
}

.dev_united_logo {
  width: 159px;
}

.logo_small {
  margin-left: 100px;
}

.tweet-indicator {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-tweet-container {
  width: 100%;
}

.color-picker {
  width: 425px;
  display: flex;
  justify-content: space-between;
}
.color {
  /* margin-right: 15px; */
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.outlineWhite {
  outline: 3px solid #fff;
}