
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-form {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.autor-button{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.custon-input {
}

.item-form{
  width: 218px;
  margin-top: 5px;
}

.tweet {
  margin: 8px 0px;
  border: 1px solid blue;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete {
  border-radius: 5px;
  height: 20px;
  color: white;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
  background-color: red;
}

.likes-container {
  border-radius: 5px;
  border: 1px solid red;
  padding: 5px;
  margin: 0px 5px;
  display: flex;
}

.like-icon {
  cursor: pointer;
  width: 25px;
}