   
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap"); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
}

body {
  margin: 20px;
  background-color: #edf2f6;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btn {
  height: 30px;
  margin-bottom: 20px;
  font-size: .7rem;
  font-weight: bold;
  padding: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet-text {
  width: 95%;
  padding: 5px;
}

.autor-buttons{
  width: 95%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.tweet-container{
  width: 100%;
  padding: 0px 5px;
}

.send-tweet {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  width: 30%;
  height: 25px;
  margin: 0px 1px;
  font-size: .7rem;
  font-weight: bold;
}

.item-form{
  width: 70%;
  height: 25px;
  margin: 0px 1px;
  padding: 3px;
}

.tweet {
  margin: 8px 0px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  max-width: 550px;
  margin: 15px auto;
  box-shadow: 0 0.2px 0.9px -3px rgba(0, 0, 0, 0.022),
    0 0.5px 2.3px -3px rgba(0, 0, 0, 0.031),
    0 1.1px 4.6px -3px rgba(0, 0, 0, 0.039),
    0 2.2px 9.5px -3px rgba(0, 0, 0, 0.048), 0 6px 26px -3px rgba(0, 0, 0, 0.07);
}

.font-style-tweet {
  font-weight: bold;
}

.buttons-tweets-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete {
  border-radius: 5px;
  height: 25px;
  color: white;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
  background-color: red;
  display: flex;
  align-items: center;
}

.likes-container {
  border-radius: 5px;
  border: 1px solid red;
  padding: 5px;
  margin: 0px 5px;
  display: flex;
  align-items: center;
}

.like-icon {
  cursor: pointer;
  width: 15px;
}

.like-item {
  margin: 0px 2px;
  font-size: .9rem;
  font-weight: bold;
}

.delete-icon {
  cursor: pointer;
  width: 25px;
}

.user-profile {
  width: 100%;
  max-width: 440px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.user-profile button {
  margin-left: 10px;
  padding: 10px;
}

.user-profile img {
  border-radius: 50%;
  margin-right: 10px;
}